@charset "UTF-8";
html, body {
  min-width: 360px; }

.shadow, .shadow-edit, .shadow-preview {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10; }

header {
  background: #7d7e7d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 29%, black 89%, black 92%, #5e5e5e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 29%, black 89%, black 92%, #5e5e5e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 29%, black 89%, black 92%, #5e5e5e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#5e5e5e',GradientType=0 );
  /* IE6-9 */
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 80px;
  color: white;
  text-align: center; }
  header .title {
    position: absolute;
    top: 10px;
    left: 25px;
    padding: 10px;
    border: 1px orange solid;
    border-radius: 20px;
    font-size: 25px; }
    header .title__bee {
      float: left;
      color: orange; }
    header .title__task {
      float: right;
      color: white; }
  header .create {
    display: inline-block; }
    header .create__but {
      width: 50px;
      height: 50px;
      background-color: red;
      border-radius: 50%;
      border: none;
      box-shadow: 0 7px #999;
      outline: none; }
      header .create__but:active {
        transform: translateY(3px);
        box-shadow: 0 4px #666; }
      header .create__but:hover {
        background: darkred; }
    header .create__text {
      font-size: 20px; }
  header .admin {
    position: absolute;
    right: 50px;
    top: 0;
    line-height: 80px;
    cursor: pointer;
    font-size: 20px;
    color: #a845e6;
    text-decoration: none; }
  header .admin_enter::after {
    content: '⎆';
    position: absolute;
    font-size: 50px;
    left: 113px;
    bottom: 3px; }
  header .admin_exit::after {
    content: '🚪';
    position: absolute;
    font-size: 50px;
    left: 105px;
    bottom: 1px; }

.wrapper {
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */
  padding: 110px 20px 20px;
  min-height: 100vh; }

.sorting {
  margin-bottom: 20px;
  text-align: center; }
  .sorting .type {
    list-style: none;
    margin: 15px 40px 0 0;
    text-align: center;
    justify-content: center;
    display: flex; }
    .sorting .type li .link {
      position: relative;
      text-decoration: none;
      color: black;
      padding: 8px 20px;
      border-right: #c5c5c5 1px solid; }
    .sorting .type__name:hover {
      background-color: orangered;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px; }
    .sorting .type__name--active {
      background-color: orange;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px; }
    .sorting .type__email:hover {
      background-color: orangered; }
    .sorting .type__email--active {
      background-color: orange; }
    .sorting .type__status {
      border-right: none !important; }
      .sorting .type__status:hover {
        background-color: orangered;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px; }
      .sorting .type__status--active {
        background-color: orange;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px; }
    .sorting .type .up::after {
      content: '⇧';
      position: absolute;
      bottom: 4px;
      right: 7px;
      font-size: 17px; }
    .sorting .type .down::after {
      content: '⇩';
      bottom: 4px;
      right: 7px;
      position: absolute;
      font-size: 17px; }

.task {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 2px 0 5px #111;
  min-height: 320px;
  position: relative; }
  .task__edit {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 40px;
    font-size: 35px;
    font-weight: bold;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer; }
  .task .left {
    margin-top: 20px;
    font-weight: bold; }
    .task .left div {
      margin-bottom: 5px; }
    .task .left__img {
      width: 320px;
      height: 240px;
      text-align: center;
      line-height: 240px; }
      .task .left__img img {
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle; }
    .task .left__status {
      display: inline; }
      .task .left__status--done {
        color: green; }
      .task .left__status--undone {
        color: red; }
  .task .right {
    margin-top: 20px;
    border-left: #c5c5c5 1px solid;
    padding: 10px;
    min-height: inherit; }
    .task .right__text {
      white-space: pre-wrap;
      word-wrap: normal;
      word-break: keep-all;
      font-size: 20px; }

.nav_pagination {
  text-align: center; }

footer {
  background: #cccccc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cccccc 1%, #eeeeee 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cccccc 1%, #eeeeee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cccccc 1%, #eeeeee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-9 */
  margin: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-top: grey 1px solid; }

.error {
  text-align: center;
  height: 60vh; }
  .error__img {
    height: inherit; }
    .error__img img {
      max-height: 100%;
      max-width: 100%; }

.shadow-edit .edit-form {
  background-color: white;
  padding: 10px;
  margin: 150px auto;
  width: 350px; }

.enter-form {
  position: absolute;
  color: black;
  right: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: 2px 0 5px #111;
  width: 220px; }
  .enter-form .close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 40px;
    color: red; }
  .enter-form .invalid {
    display: none; }

.shadow-preview .task {
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin-top: 120px; }
  .shadow-preview .task .drag {
    color: green;
    position: absolute;
    right: 40%; }
  .shadow-preview .task .close {
    font-size: 70px;
    color: red;
    position: absolute;
    top: -5px;
    right: 10px; }

@media (max-width: 768px) {
  header .title {
    left: 15px; }
  header .admin {
    right: 37px; }
  .wrapper {
    padding: 110px 1px 20px; }
  .task {
    padding: 0; }
    .task .left {
      padding: 0;
      text-align: center; }
      .task .left__img {
        margin: 0 auto; }
    .task .right {
      border-left: none;
      border-top: #c5c5c5 1px solid;
      min-height: 0; }
      .task .right__text {
        font-size: 16px; } }
